service: my-fastapi-app

frameworkVersion: '3'

provider:
  name: aws
  runtime: python3.10
  region: ap-south-1 
  memorySize: 512    
  timeout: 30        

functions:
  api:
    handler: main.handler 
    events:
      - httpApi: '*'      

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: true
    # layer: true
    # slim: true
    # strip: false